.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.d-none {
  display: none;
}

.loader-container {
  width: 100%;
  height: 100%;
}

.App-logo-loader {
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: rgba(128, 128, 128, 0.17);
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
